$medium: 600px;
$large: 100px;

body {
  background-color: var(--rizzleBG);
  background: radial-gradient(circle at 50% 100px, rgba(255,255,255,0.5) 0%, rgba(255, 255, 255, 0) 20%);
}

.lighter {
  opacity: 0.7;
}

.hero {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(/img/ream.png);
  background-image: image-set(
    url(/img/ream.png) 1x,
    url(/img/ream@2x.png) 2x
  );
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 250px;
  padding-bottom: 5rem;

  animation: slideInTop 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;

  .headings {
    text-align: center;
    max-width: 50rem;
    opacity: 0;
    animation: fadeIn cubic-bezier(0.33, 1, 0.68, 1) 1.5s 1s forwards;
  }
  h1 {
    font-size: 5rem;
    line-height: 1.1;
    color: var(--aubergine);
    margin-top: 0;
    margin-bottom: 5rem;
  }
  h2 {
    margin-bottom: .5rem;
  }
  p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    max-width: none;
    color: var(--aubergine);
    text-align: center;
    margin-bottom: 3rem;
    strong {
      font-weight: 700;
    }
    em {
      font-style: normal;
      color: var(--red);
    }

    @media (min-width: 50em) {
      padding: 0 100px;
    }
  }
  p:first-of-type {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.download-open-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
  opacity: 0;
  animation: fadeIn cubic-bezier(0.33, 1, 0.68, 1) 2s 1.5s forwards;

  a {
    opacity: 0.8;
  }
}

.app-link-box {
  display: none;

  @media screen and (min-width: $medium) {
    display: block;
    height: 47px;
    background-color: black;
    background-image: url('/img/mini-ream.svg');
    background-repeat: no-repeat;
    background-position: 15px;
    color: white !important;
    text-decoration: none;
    padding: 10px 15px 5px 50px;
    border-radius: 5px;
    border: 1px solid #333;
    margin-left: 3rem;
  }
}

section {
  width: 100vw;
  display: flex;
  position: relative;
  left: -1rem;

  @media screen and (min-width: $medium) {
    left: calc(-50vw + 25em - 1rem);
  }
}

section.joyful {
  display: flex;
  flex-direction: column;
  background-color: var(--brown);

  @media screen and (min-width: $medium) {
    flex-direction: row;
    margin-bottom: -15rem;
  }

  .covers {
    height: 570px;
    background-image: url('/img/covers-small.png');
    background-image: image-set(
      url('/img/covers-small') 1x,
      url('img/covers-small@2x.png') 2x
    );
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    top: -5rem;

    @media screen and (min-width: $medium) {
      height: 1150px;
      background-position: right;
      flex: 1;
      z-index: 10;
      background-image: url('/img/covers.png');
      background-image: image-set(
        url('/img/covers') 1x,
        url('img/covers@2x.png') 2x
      );
      opacity: 0;
      transform: translateX(-20%); /* Start position off-screen to the left */
    }

    &.visible {
      @media screen and (min-width: $medium) {
        animation: slideInLeft 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
      }
    }
  }

  .description {
    flex: 0;
    min-width: 12em;
    // background-color: red;
    text-align: center;
    color: var(--brown);
    margin: 0 1rem 3rem;

    opacity: 0;

    &.visible {
      animation: fadeIn cubic-bezier(0.33, 1, 0.68, 1) 2s forwards;
    }

    h1, p {
      margin-top: 0;
      color: white;
    }

    p {
      /* color: #532; */
    }

    @media screen and (min-width: $medium) {
      margin: 100px 50px;
    }

  }

  .typography {
    background-image: url('/img/typography-small.png');
    background-image: image-set(
      url('/img/typography-small') 1x,
      url('img/typography-small@2x.png') 2x
    );
    height: 560px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;

    position: relative;
    top: -5rem;

    @media screen and (min-width: $medium) {
      flex: 1;
      height: 1050px;
      background-image: url('/img/typography.png');
      background-image: image-set(
        url('/img/typography') 1x,
        url('img/typography@2x.png') 2x
      );
      background-position: left;
      // position: relative;
      margin-left: -100px;
      transform: translateX(20%); /* Start position off-screen to the left */
      opacity: 0;
    }

    &.visible {
      @media screen and (min-width: $medium) {
        animation: slideInRight 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
      }
    }
  }
}

section.features {
  padding: 50px 0;
  /* background-color: var(--brown); */
  color: white;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 200px;

  @media screen and (min-width: $medium) {
    /* margin-top: -300px; */
  }

  h1, h3 {
    /* color: white; */
    text-align: center;
  }

  h1 {
    width: 5em;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;

    @media screen and (min-width: $medium) {
      justify-content: space-between;
      width: 1200px;
    }

    flex-wrap: wrap;
    li {
      flex: 0;
      flex-grow: 0;
      flex-shrink: 0;
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      background-color: var(--rizzleBG-lighter);
      text-align: center;
      flex-basis: calc(100vw - 4rem);
      flex-basis: 300px;
      height: 300px;
      padding: 40px 30px;
      margin: 40px;
      border-radius: 20px;
      box-shadow: rgba(0,0,0,.2) 0px 10px 20px 0px;

      @media screen and (min-width: $medium) {
        justify-content: space-around;
        transition: all 1s ease-in-out;
        position: relative;
      }

      &.visible {
          left: 0 !important;
          right: 0 !important;
      }

      h1, img, p {
        flex: 0;
      }

      h1, p {
        color: var(--aubergine);
      }

      h1 {
        font-size: 1.5rem;
        line-height: 1.2em;
        margin: 0;
        width: 100%;
        // color: var(--rizzleBG);
      }

      img {
        width: 32px;
        height: 32px;
        margin: 0px auto;
      }

      p {
        line-height: 1.3em;
        // color: var(--rizzleBG);
      }
    }
  }
}

section.video {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--brown);
  padding-bottom: 5rem;

  @media screen and (min-width: $medium) {
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }

  video {
    position: relative;
    top: -50px;
    border: 15px solid #333;
    border-radius: 30px;
    box-shadow: rgba(0,0,0,.2) 0px 10px 20px 0px;
    opacity: 0;
    transform: translateX(-20%); /* Start position off-screen to the left */
    animation: slideInLeft 1s cubic-bezier(0.33, 1, 0.68, 1) 2.55s forwards;
  }

  div {
    width: 300px;
    color: white;
    opacity: 0;
    animation: fadeIn 1s ease-in 2s forwards;
    h1 {
      color: var(--rizzleBG);
    }
    p {
      font-size: 1.2rem;
    }

  }
}

section.open {
  flex-direction: column;
  background-color: var(--blue);
  color: white;
  padding: 1rem;
  align-items: center;
  margin-bottom: -5rem;

  @media screen and (min-width: $medium) {
    padding: 50px;
  }

  h1, a, a:visited {
    color: white;
  }

  h1, p {
    text-align: left;
    @media screen and (min-width: $medium) {
      text-align: center;
      max-width: 600px;
    }
  }
}

.aspect-ratio-box {
  width: 100%;
  padding-bottom: calc((100% / 16) * 9);
  overflow: hidden;
  height: 0;
  position: relative;
  margin-top: 3rem;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.appstore-button {
  display: block;
  width: 160px;
  // max-width: 100%;
  height: auto;
}

.flash {
  flex-shrink: 0;
  padding-top: 6rem;
  padding-bottom: 1rem;
  background-color: var(--blue);

  margin-left: -1em;
  padding-left: 1em;
  margin-right: -1em;
  padding-right: 1em;

  @media (min-width: 50em) {
    margin-left: calc(-50vw + 25em - 1rem);
    padding-left: calc(50vw - 25em + 1rem);
    margin-right: calc(-50vw + 25em - 1rem);
    padding-right: calc(50vw - 25em + 1rem);
  }

  h1, h2 {
    color: white;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
  }

  ul {
    list-style-type: none;
    @media (min-width: 50em) {
      padding: 0 100px;
    }

    li {
      margin-bottom: 3rem;
      position: relative;
    }
    h1, p {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
    h1 {
      font-family: 'IBM Plex Sans', sans-serif;
      margin-bottom: .5rem;
    }
    p {
      font-size: 1.33rem;
      line-height: 2rem;
      font-weight: 400;
      color: white;
    }
    svg {
      position: absolute;
      left: -46px;
      opacity: 0.5;

      @media (min-width: 50em) {
        left: -56px;
      }
    }
  }

  #mce-EMAIL {
    width: 100%;
  }

  #mce-EMAIL, #mc-embedded-subscribe {
    border: 0;
    font-size: 1em;
    padding: .5em;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 1rem;
  }

  #mc-embedded-subscribe {
    background-color: var(--aubergine);
    color: white;
    padding: .5em 2em;
  }
}

/* Animations */
@keyframes slideInTop {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
