---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<section class="hero">
  <div class="headings">
    <h1>Reams <span class="lighter">is a serious, joyful &amp; open app for readers</span></h1>
    <p>Newsletters, RSS, save for later, readability, highlights, tags—everything you need to fall in love with reading again</p>
  </div>
  <div class="download-open-links">
    <a href="https://apps.apple.com/us/app/reams/id1229027127" class="appstore-link"><img src="/img/button-appstore.png" alt="Download Reams from the iOS app store" class="appstore-button"></a>
    <a href="http://web.reams.app" class="app-link-box" alt="Open Reams in your browser">Open in browser</a>
  </div>
  <!-- <p><strong>Reams is a new approach to reading on the web, conceived from the ground up to help you find and read more about things you&nbsp;love. </strong></p>
  <p>With AI-driven layouts, delightful interactions and powerful features, Reams focuses on the immersive pleasures of text and image.</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/QjnidKaTqWs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
</section>
<section class="video">
  <video width="348" height="720" autoplay loop muted playsinline alt="A video showing the Reams app in action">
    <source src="/img/720-smaller.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div>
    <h1>Your favourite content has never looked this good</h1>
    <p>Flipping through the newsletters and RSS stories in your feed is like reading a personalised magazine.</p>
    <p>And because every article looks different, you’re much more likely to remember what you’ve read.</p>
  </div>
</section>
<section class="features">
  <h1>Serious Features</h1>
  <ul>
    <li class="animate-on-scroll" style="left: 410px">
      <img src="/img/feed.svg" alt="RSS feed icon">
      <h1>Curate your feed</h1>
      <p>Find and add RSS feeds; subscribe to newsletters with your own reams.app email address</p>
    </li>
    <li class="animate-on-scroll">
      <img src="/img/tag.svg" alt="Tag icon">
      <h1>Organise with tags</h1>
      <p>Add tags to feeds, newsletters or individual articles. Or don’t!</p>
    </li>
    <li class="animate-on-scroll" style="left: -410px">
      <img src="/img/highlights.svg" alt="Highlights icon">
      <h1>Highlights &amp; notes</h1>
      <p>Save those salient sentences and apercus</p>
    </li>
    <li class="animate-on-scroll" style="left: 410px">
      <img src="/img/saved.svg" alt="Save icon">
      <h1>Save any article</h1>
      <p>Add any article to your library with mobile &amp; desktop browser extensions</p>
    </li>
    <li class="animate-on-scroll">
      <img src="/img/search.svg" alt="Search icon">
      <h1>Search</h1>
      <p>Find the needles in your haystack—even if you’re offline</p>
    </li>
    <li class="animate-on-scroll" style="left: -410px">
      <img src="/img/nudges.svg" alt="Nudges icon">
      <h1>Nudges</h1>
      <p>With occasional reminders to pay authors, you’ll never forget the value of what you read</p>
    </li>
  </ul>
</section>
<section class="joyful">
  <div class="covers animate-on-scroll">
    <p>.</p>
  </div>
  <div class="description animate-on-scroll">
    <h1>Joyful Layouts</h1>
    <p>Reams uses infernally complex logic, a sprinkling of AI and a whole lot of attention to typographic detail to turn your reading into a stunning, immersive experience.</p>
  </div>
  <div class="typography animate-on-scroll">
    <p>.</p>
  </div>
</section>
<section class="open">
  <h1>Open Forever</h1>
  <p>Reams is for open minds. And it’s open source.</p>
  <a href="https://github.com/admbtlr/reams" class="button github" target="_blank">Start contributing</a>
</section>
