---
layout: layouts/base.njk
templateClass: tmpl-beta
---
<h1>Privacy Policy</h1>

<h2>Our Commitment To Privacy</h2>
<p>Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used.</p>

<h2>The Information We Collect</h2>

<p>This notice applies to all information collected or submitted on the Reams website and the Reams applications and services for iPhone, iPad and other devices and platforms, hereafter referred to as simply Reams.</p>
<p>Reams occasionally needs to collect information for convenience, practicality, or technical requirements. This information includes:</p>
<ul>
  <li>Your email address. This is technically required so you can log in from multiple computers and devices.</li>
  <li>Your chosen password, should you decided to create one. A hash of your password is stored in the Reams database, and the plain-text password is only used for hash comparison to the stored value.</li>
  <li>The titles, URLs (addresses), and highlighted text of the pages you save to Reams, .</li>
  <!--li>The HTML contents of the pages you save to Reams when recognized as a known login-requiring site. This is technically required to generate the Text view and other indexing features for sites that require logins or accounts, such as some major newspaper publishers. When HTML is saved for a page, it is only used within your account and is not revealed via social or sharing features.</li-->
</ul>
<p>Like most Web sites, Reams also collects and stores information automatically and through the use of electronic tools that may be transparent to our visitors. For example, we may log the name of your Internet Service Provider, your IP address, and information provided by and about your Internet browser. As we adopt additional technology, we may also gather similar information through other means.</p>
<p>We may also use "cookie" technology. Among other things, we may use cookies or other tracking technology for the purposes of storing your username and password hash to spare you from having to re-enter that information each time you visit.</p>

<h2>The Way We Use Information</h2>
<p>We use the information you provide to operate Reams's features. We do not share this information with outside parties except to the extent necessary to accomplish Reams's functionality.</p>
<p>We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties.</p>
<p>We use non-identifying and aggregate information to better design Reams, to suggest popular content to users, and to share with advertisers and publishers. For example:</p>
<ul>
  <li>We may use aggregate information from Reams usage to help design new features or services for the product.</li>
  <li>We may tell an advertiser or publisher that X number of people visited a certain area on our website</li>
  <li>We may tell an advertiser or publisher that X number of people bookmarked Z stories from a particular site or topic.</li>
  <li>We may aggregate the most popular stories during limited time periods or from certain websites in order to suggest stories for Reams's Editor's Picks or for users who have also saved pages from those websites.</li>
</ul>
<p>When information is used in this or a similar manner, we do not disclose anything that could be used to identify the individuals on whom the information is based.</p>
<p>We may disclose your information in response to subpoenas, court orders, or other legal process, or to establish or exercise our legal rights or to defend against legal claims.</p>
<p>We may disclose your information when we believe it necessary or desirable in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our policies, and/or to protect our rights and property.</p>
<p>In the future, we may sell, buy, merge, or partner with other companies or businesses. In such transactions, user information may be among the transferred assets.</p>

<h2>External Services</h2>
<p>Reams makes reasonable efforts to ensure that all integrated external services are trustworthy and reputable, but Reams cannot be held responsible for data collection and usage by such services.</p>

<h2>Our Commitment To Data Security</h2>
<p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>

<h2>Deleting Information</h2>
<p>You can delete your entire Reams account at any time by going to the Accounts screen. If you delete your account, all account information and saved page data is deleted from the Reams service immediately.</p>
<p>Due to the nature of backups and logs, deleted data may persist in backups and logs until they are deleted.</p>

<h2>GDPR: Information for EEA Users</h2>
<h3>What Rights Do I Have?</h3>
<p>Individuals located in the European Economic Area (EEA) have certain rights in respect of your personal information and Reams will provide these capabilities to all our worldwide users, including:</p>
<ul>
  <li>The right of access to your personal data;</li>
  <li>The right to correct or rectify any inaccurate personal data;</li>
  <li>The right to restrict or oppose processing of personal data;</li>
  <li>The right to erase your personal data; and</li>
  <li>The right to personal data portability.</li>
</ul>

<h3>How Can I Exercise my Rights?</h3>
<p>If you're a user based in the EEA, you can:</p>
<ul>
  <li>Request a personal data report by submitting a request to support@reams.app. This report will include the personal data we have about you, provided to you in a structured, commonly used, and portable format. Please note that Reams may request additional information from you to verify your identity before we disclose any information.</li>
  <li>Have your personal data corrected or deleted. Some personal data can be updated by you through your Reams account settings, or by contacting us at support@reams.app. You can also remove your personal data from Reams by deleting your account at support@reams.app.</li>
  <li>Complain to a regulator. If you're based in the EEA and think that we haven't complied with data protection laws, you have a right to lodge a complaint with your local supervisory authority.</li>
</ul>
<p>If you have other questions or do not have a Reams account, please contact us at suppport@reams.app.</p>

<h2>How To Contact Us</h2>
<p>Should you have other questions or concerns about these privacy policies, please email support@reams.app. </p>

<h2>Changes To This Policy</h2>
<p>Reams reserves the right to change this policy at any time. Please check this page periodically for changes. Your continued use of Reams following the posting of changes to this policy will mean you accept those changes. We will notify you before we make material changes to this policy and give you an opportunity to review the revised policy before deciding if you would like to continue to use the Services.</p>